@page "/upload"
@using CashFlowAnalyzer.Client.FinancialData
@using CashFlowAnalyzer.Client.Components
@attribute [Authorize]
@inject SpreadsheetReader SpreadsheetReader
@inject IFinancialDataService FinancialDataService

<PageTitle>Upload</PageTitle>

<h1>Upload</h1>

<Dropdown TItem="ICurrency"
          Id="currencySelect"
          Label="Select Currency"
          Placeholder="Select Default Currency"
          Items="Currencies.GetAllCurrencies()"
          SelectedValue="defaultCurrency"
          SelectedValueChanged="OnCurrencySelectionChanged"
          IsDisabled="isPreviewMode" />

<Dropdown TItem="Bank?"
          Id="bankSelect"
          Label="Select Bank"
          Placeholder="Select Bank"
          Items="Enum.GetValues(typeof(Bank)).Cast<Bank?>()"
          SelectedValue="selectedBank"
          SelectedValueChanged="OnBankSelectionChanged"
          IsDisabled="isPreviewMode" />

<InputFile OnChange="HandleFileSelected" key="@(fileInputKey)" class="form-control" disabled="@((selectedBank is null) && (defaultCurrency is null))" />

@if (financialRecords == null || financialRecords.Count == 0)
{
    <p><em>Waiting for the file...</em></p>
}
else
{
    <p>Please, review the categories</p>
    <FinancialRecordsTable
        Records="financialRecords"
        SaveData="SaveData"
        IsPreviewMode="isPreviewMode"
        PreviewModeChanged="OnIsPreviewModeChanged" />
}
@if (showSuccessMessage)
{
    <Alert Message="Records upload was successful." CssClass="alert-success" OnClose="@(() => { showSuccessMessage = false; })" />
}
@if (showErrorMessage)
{
    <Alert Message="Records upload failed." CssClass="alert-danger" OnClose="@(() => { showErrorMessage = false; })" />
}

@code {
    private bool isPreviewMode = false;
    private bool showSuccessMessage = false;
    private bool showErrorMessage = false;
    private string fileInputKey = Guid.NewGuid().ToString();
    private string payer = "me"; // ToDo: ThisShouldBeManualInputFromEditableDropdown
    private ICurrency defaultCurrency = Currencies.GetDefaultCurrency();
    private FinancialRecordMapper mapper;
    private List<FinancialRecord> financialRecords;

    // TODo: spreadsheetRecords should be more abstract
    private List<CeskaSporitelnaRecord> spreadsheetRecords;
    private Bank? selectedBank;
    protected override async Task OnInitializedAsync()
    {
        financialRecords = new List<FinancialRecord>();
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var stream = file.OpenReadStream();
        switch (selectedBank)
        {
            case Bank.CeskaSporitelna:
                spreadsheetRecords = await SpreadsheetReader.ReadCeskaSporitelnaSpreadsheetAsync(stream);
                break;
            default:
                throw new NotImplementedException();
        }   
        financialRecords = mapper.Map(spreadsheetRecords);
    }

    private void OnIsPreviewModeChanged(bool value)
    {
        isPreviewMode = value;
        StateHasChanged();
    }

    private void OnCurrencySelectionChanged(ICurrency? value)
    {
        if (value == null)
            return;

        defaultCurrency = value;
        mapper = new FinancialRecordMapper(defaultCurrency, payer);
        if (financialRecords != null)
        {
            financialRecords = mapper.MapCurrency(financialRecords);
        }
        StateHasChanged();
    }

    private void OnBankSelectionChanged(Bank? value) => selectedBank = value;

    private async Task SaveData(List<FinancialRecord> data)
    {
        try
        {
            await FinancialDataService.SaveFinancialRecordsAsync(data);
            showSuccessMessage = true;
            CleanUploadView();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving data: {ex.Message}");
            showErrorMessage = true;
        }
    }

    private void CloseSuccessMessage()
    {
        showSuccessMessage = false;
    }

    private void CloseErrorMessage()
    {
        showErrorMessage = false;
    }

    private void CleanUploadView()
    {
        // issue: resetting InputFile field does not work neatly:
        // https://github.com/SteveSandersonMS/BlazorInputFile/issues/2
        fileInputKey = Guid.NewGuid().ToString();
        financialRecords = new List<FinancialRecord>();
        selectedBank = null;
        defaultCurrency = null;
        StateHasChanged();
    }
}
