@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IAccountService AccountService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (isAuthenticated)
            {
                <button class="btn btn-danger" @onclick="Logout">Logout</button>
            }
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool isAuthenticated;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // issue: this does not get triggered if we redirected from login page or it's the server rendering
        if (firstRender)
        {
            isAuthenticated = await AccountService.IsAuthenticated();
            if (isAuthenticated)
            {
                StateHasChanged();
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task Logout()
    {
        await AccountService.Logout();
        isAuthenticated = false;
        Navigation.NavigateTo("/Login");
    }
}